.btn{
    background-color: #00a4de;
    border-radius: 2px;
    td{
        font-family: sans-serif;
        color:#FFF;
        text-align: center;
        padding: 0 25px;
        font-size: 15px;
        padding-top:14px;
        padding-bottom: 16px;
        p{
            padding:0;
            margin:0;
        }
        a{
            width:100%;
            height: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
            color:#FFF;
        }
    }
    &.valhalla{
        background-color: #3d485e;
    }
    &.white{
        background-color: #FFFFFF;
        border: 1px solid #3b7ed5;
        td, a{
            color:#5a93dc!important;
            text-decoration: none;
        }
    }
    &.slate-blue{
        background-color: #5364d4;
    }
    &.pacific-blue{
        background-color: #5364d4;
    }
    &.royal-blue{
        background-color: #3b7ed5;
    }
    &.eastern-blue{
        background-color: #008caa;
    }
    &.persian-green{
        background-color: #00aa9c;
    }
    &.citrus{
        background-color: #91cd00;
    }
}
