
td p {
    margin-bottom: 12px;
}
td.bullet,
td.bullet-item {
    padding-bottom: 12px;
}
td.bullet {
    width: 20px;
}
.image-fix {
    display: block;
}

table td    { border-collapse: collapse; } /* Fix Outlook 07, 10 Padding issue */

body        { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
body        { width: 100% !important; } /* Force Hotmail to display emails at full width */
.ReadMsgBody { width: 100%; }
.ExternalClass { width: 100%; }


img         { border:0; max-width: 100%; line-height:100%; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
