.heading
    .heading-btns-container td
        padding-left: 10px;
    a
        color: #3b7ed5;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
    .helpcenter a
        color: #8097b1;
    .heading-btn td:last-child
        padding-left: 4px;
h1
    line-height:1.6em
    span
        background-color:#EEE;
        // box-shadow 0 0 0px 6px #EEE;
.backgroundPresent
    height: 250px;
    background: bottom right no-repeat url('http://go.wrike.com/rs/405-WQD-629/images/bg-theme-2016.png');
    .bg
        vertical-align: middle
        padding-bottom 23px;
    h1
        font-size: 28px;
        font-weight: 300;
        max-width: 370px;
        line-height: 42px;
        margin-bottom:3px;

        text-align: left!important;
        a
            color:#FFF;
            text-decoration: none;
        p
            display: inline;
            font-size: 28px;
            font-weight: 300;
        i, span
            -webkit-box-decoration-break: clone;
            -o-box-decoration-break: clone;
            box-decoration-break: clone;
            font-style: normal;
            color:#FFF;
            z-index:-1;
            background-color: #4f72d5;
            border: 5px solid #4f72d5;
            border-left-width: 8px!important;
            border-right-width: 10px!important;
    .button-box
        background-color: #3956aa;
        &>tbody>tr
            &>td
                max-width:300px;
                width:100%;
                .col>tbody>tr>td
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    padding: 10px 10px;

        p, a
            color:#FFF;
.royal-blue-theme
    background-color: #3b7ed5;
    background: #3b7ed5 bottom right no-repeat url("http://go.wrike.com/rs/405-WQD-629/images/bg-theme-2016.png");
.slate-blue-theme
    background-color: #5364d4
    background: #5364d4 bottom right no-repeat url("http://go.wrike.com/rs/405-WQD-629/images/bg-theme-2016.png");
.pacific-blue-theme
    background-color: #00a4de
    background: #00a4de bottom right no-repeat url("http://go.wrike.com/rs/405-WQD-629/images/bg-theme-2016.png");
.eastern-blue-theme
    background-color: #008caa
    background: #008caa bottom right no-repeat url("http://go.wrike.com/rs/405-WQD-629/images/bg-theme-2016.png");
.persian-green-theme
    background-color: #81b600
    background: #81b600 bottom right no-repeat url("http://go.wrike.com/rs/405-WQD-629/images/bg-theme-2016.png");
.citrus-green-theme
    background-color: #91cd00
    background: #91cd00 bottom right no-repeat url("http://go.wrike.com/rs/405-WQD-629/images/bg-theme-2016.png");
.border-green-theme
    box-shadow: 0 0 0 15px #00a4de, 0 15px 40px #00a4de;
    &.slashed>tbody>tr>td:after.slashed
        border-right-color: #00a4de
    position:relative;
    + .container
        box-shadow: 0 0 0 15px #00a4de, 0 15px 40px #00a4de;


.royal-blue-theme,
.slate-blue-theme,
.pacific-blue-theme,
.eastern-blue-theme,
.persian-green-theme,
.citrus-green-theme
    p, a, h1, h2, h3
        color:#FFF;

.backgroundPresent.royal-blue-theme
    background-color: #3b7ed5;

    i,span
        background-color: #3b7ed5;
        border: 5px solid #3b7ed5
        //border: 5px solid #3b7ed5;
    .button-box
        background-color: #1d64c1;

.backgroundPresent.slate-blue-theme
    background-color: #5364d4;
    i,span
        background-color: #5364d4;
        border: 5px solid #5364d4
    .button-box
        background-color: #3956aa;

.backgroundPresent.pacific-blue-theme
    background-color: #00a4de;
    i,span
        background-color: #00a4de;
        border: 5px solid #00a4de
    .button-box
        background-color: #0092c6;
.backgroundPresent.eastern-blue-theme
    background-color: #008caa;
    i,span
        background-color: #008caa;
        border: 5px solid #008caa
    .button-box
        background-color: #007892;

.backgroundPresent.persian-green-theme
    i,span
        background-color: #00aa9c;
        border: 5px solid #00aa9c
    .button-box
        background-color: #00aa9c;

.backgroundPresent.citrus-green-theme
    i,span
        background-color: #91cd00;
        border: 5px solid #91cd00
    .button-box
        background-color: #81b600;
