html
    head
        link(rel="stylesheet" href="styl/index.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')
        include ./components/grid.jade
        include ./components/spacer.jade
        style.
            @media (max-width: 680px) {
                .col {
                    display: block!important;
                    float: none!important;
                    width: 100% !important;
                    max-width: 100% !important;
                }
            }
    body
        .wrapper
            | <table class="header" style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
            |   <tbody>
            |   <tr>
            |     <td class="logo" style="line-height: 1px;" width="auto" align="left"><a style="display: block; margin: 0px 0px 0px 0px;" href="https://www.jetbrains.com/"><img src="https://resources.jetbrains.com/assets/marketo/newsletter/main/newsletter_jetbrains_logo.png" alt=""></a></td>
            |   <td>&nbsp;</td>
            |   </tr>
            |   <tr>
            |     <td style="line-height: 1px; font-size: 1px; background-color: #c6c6c6; height: 1px;" colspan="2" height="1"></td>
            |   </tr>
            |   </tbody>
            |   </table>
            |<!--[if (gte mso 9)|(IE)]> <table cellspacing="0" cellpadding="0" width="570" align="center"><tr><td><![endif]-->
            +container
                +col(12)
                    h1 JetBrains Newsletter
                    p.subtitle June 2016
            +container('top')
                +col(6)
                    h3 Meet the Kotlin Team at Gradle Summit
                    p June 23-24 at the Gradle Summit in Palo Alto, California, the Kotlin and Gradle teams will be sharing details about Kotlin Gradle Scripts support. Dmitry Jemerov from the Kotlin team will be giving the <a style="color: #2197f1;" href="https://gradlesummit.com/schedule/kotlin">keynote</a> where he will speak about the DSL support features of Kotlin and their use in the Gradle build script DSL. To receive a $300 discount on the <a style="color: #2197f1;" href="https://gradlesummit.com/">Gradle Summit</a>, use the discount code <strong>GradleSummit16VIP</strong>.
                +col(6)
                    h3 Upcoming Live Webinars
                    p <a style="color: #2197f1;" href="http://info.jetbrains.com/IDEA-Webinar-June2016.html">Refactoring with IntelliJ IDEA</a>, June 16th — This week Bill Wake of Industrial Logic will show you how to efficiently refactor Java code using IntelliJ IDEA techniques.
                    p <a style="color: #2197f1;" href="http://info.jetbrains.com/PhpStorm-Webinar-June2016.html">Docker for PHP Developers</a>, June 29th — Learn how to make it easier to build, test and deploy distributed applications with Docker and PhpStorm in this webinar featuring Gary Hockin and Chris Tankersley.
            +container('middle')
                +col(6)
                    h3 Important Early Access Program Updates
                    p The new <a style="color: #2197f1;" href="https://blog.jetbrains.com/clion/?p=2248&amp;preview=true">CLion 2016.2 EAP</a> build brings long-awaited debugger improvements, addressing 'command time out' problem, including stepping and correctness fixes, as well as valuable performance enhancements.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/objc/2016/06/appcode-starts-2016-2-eap/">AppCode 2016.2 EAP</a> is now underway. This build brings support for Swift inspections and intentions via SourceKit, Swift Live templates and improved Rename for mixed code projects.
                +col(6)
                    img(src="https://placehold.it/333x200")
            +spacer.container
            +container('middle').announcement
                +col(3)
                    img(src="https://placehold.it/200")
                +col(9)
                    h3 <a style="color: #343434; text-decoration: none;" href="https://www.jetbrains.com/pycharm/python-developers-survey-2016/">Python Developers Survey 2016: Findings</a>
                    p Recently we conducted a survey among more than 1,000 Python developers to identify the latest trends and gain insight into how the Python development world looks today. We're excited to <a style="color: #2197f1;" href="https://www.jetbrains.com/pycharm/python-developers-survey-2016/">share some of these results</a> with you.
            +spacer.container
            +container('top')
                +col(6)
                    h3 Product News and Releases
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/webstorm/2016/05/webstorm-2016-1-3/">WebStorm 2016.1.3</a> update brings support for Angular 2 Release Candidate, scoped npm packages and improvements in TypeScript support.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/pycharm/2016/05/announcing-pycharm-2016-1-4/">PyCharm 2016.1.4</a> introduces numerous performance improvements along with fixes for various hangs as well as a number of fixes for Docker support.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/kotlin/2016/06/kotlin-eclipse-plugin-0-7-is-here/">Kotlin Eclipse Plugin 0.7.0</a> is now available, and along with support for Kotlin 1.0.2 compiler this update brings very important features and improvements.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/clion/2016/06/cppcast-welcomes-clion-a-year-in-review/">CppCast Welcomes CLion: A Year in Review</a> &mdash; This famous podcast for C++ developers welcomes back Anastasia Kazakova who talks about CLion's first year: from the main changes to the plans for the future, CLion's user base discussions, and technical questions about C++ parser and CMake project model.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/blog/2016/05/25/introducing-jetbrains-toolbox-app/">Introducing JetBrains Toolbox App EAP</a> &mdash; Tired of manually installing, updating and uninstalling IDEs and their updates? We have exciting news for you. The JetBrains Toolbox App is our new application that lets you install and run any JetBrains IDEs with just a few clicks. Read how it works and try a preview.

                +col(6)
                    h3 Technological Highlights
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/idea/2016/06/java-annotated-monthly-june-2016/">Java Annotated Monthly: June</a> covers Java's past, present and future, with Java 9 updates, more resources for getting a handle on what Java 8 can offer us, and a review of the recently closed high-profile Oracle vs. Google court case.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/phpstorm/2016/06/php-annotated-monthly-june-2016/">PHP Annotated Monthly: June</a> takes a look at PSR-7 (a lot), Laravel Valet, and Middleware in our roundup of great PHP community content.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/clion/2016/06/c-annotated-march-may-2016/">C++ Annotated: March - May 2016</a> examines ACCU, C++Now and Italian C++ conferences, discussion of C++17 future and some C++11 features, C++ I/O benchmark, and release news.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/teamcity/2016/06/teamcity-digest-7/">TeamCity Digest #7</a> highlights the latest TeamCity-related articles and blog posts from around the community.
                    p <a style="color: #2197f1;" href="http://surveys.jetbrains.com/s3/6203875ced07">Software Developers Poll</a> &mdash; Complete our 1-page survey for a chance to win a $20 Amazon certificate.
            +container('top')
                +col(6)
                    h3 Learning Resources
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/idea/2016/05/webinar-recording-docker-for-java-developers/">Docker for Java Developers</a> &mdash; In this webinar recording, Arun Gupta of Couchbase gives a solid overview of Docker and IntelliJ IDEA's plugin for working with it.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/kotlin/2016/06/kotlin-night-recordings/">Kotlin Night in San Francisco Videos</a> &mdash; The first Kotlin Night took place last month in San Francisco. There were great talks and important announcements by the leads of Kotlin and Gradle teams, along with engaging technical presentations. Watch now.
                    p <a style="color: #2197f1;" href="http://exercism.io/languages/kotlin">Kotlin Language Track on Exercism</a> &mdash; Level up your programming skills on the new Exercism.io Kotlin track. There are already dozens of tricky problems to challenge yourself with.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/phpstorm/2016/06/using-external-tools-in-phpstorm/">Using External Tools in PhpStorm</a> &mdash; Learn how to use the External Tools feature of PhpStorm to run everyday tools from a custom key binding without leaving the IDE. Find out how to configure phpDocumentor and PHP Copy/Paste Detector.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/webstorm/2016/05/getting-started-with-electron-in-webstorm/">Getting Started with Electron</a> &mdash; Did you know you could use WebStorm to build cross-platform desktop apps with Electron? You do now.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/pycharm/2016/05/debugger-interview-with-pydev-and-pycharm/">Debugger Interview with PyDev and PyCharm</a> &mdash; The PyCharm debugger got a big boost of speed in the recent release and has an interesting backstory. JetBrains collaborated with PyDev, the popular Python plugin for Eclipse, and funded the work around performance improvements for the common debugger's backend.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/objc/2016/06/complete-statement-in-appcode/">Complete Statement in AppCode</a> &mdash; Speed up your development with this new type of completion available for Objective-C.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/clion/2016/05/webinar-recording-design-patterns-and-modern-cpp/">Design Patterns and Modern C++</a> &mdash; Learn how classical Design Patterns can be applied to Modern C++. In this webinar recording we discuss three of them in detail: the Adapter pattern, the Builder pattern and the Maybe Monad.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/hub/2016/05/27/multiple-shareable-and-guest-dashboards/">Multiple, Shareable and Default Dashboards</a> &mdash; Read this article to learn when and why you do need multiple dashboards, see various examples of dashboards shared by different project roles and the default dashboard you can configure for your customers and guests.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/youtrack/2016/06/youtrack-and-raygun-for-smarter-issue-tracking/">YouTrack & Raygun For Smarter Issue Tracking</a> &mdash; Raygun automatically finds and diagnoses errors and issues in your software applications. Learn how these two tools can take your issue handling experience to the next level.
                +col(6)
                    h3 Early Access Program News
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/dotnet/tag/resharper-2016-2/">ReSharper Ultimate 2016.2 Kicks Off</a> &mdash; ReSharper Ultimate 2016.2 EAP adds support for .NET Core RC2 projects; improves support for ASP.NET, TypeScript, and CSS; and adds quick-fixes, context actions and a new refactoring to move members to another part of a class. C# typing assistance, rearranging of code improvements and more changes are already available in early builds.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/datagrip/2016/06/03/we-open-datagrip-2016-2-eap/">DataGrip 2016.2</a> &mdash; Completion is now available in the connection window and the table editor, and Locale aware completion has been added. PostgreSQL support now includes search path, range types and time zones editing. Surround with function lets you easily wrap any field of the query. Try all of these goodies out while we continue to work on import improvements and language injections.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/pycharm/2016/06/pycharm-2016-2-eap-is-open/">PyCharm 2016.2</a> &mdash; This release introduces a few new features, bug fixes and improvements that are unique to PyCharm, as well as a lot of features and improvements from the Web and IntelliJ Platform sides.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/phpstorm/2016/05/phpstorm-2016-2-eap/">PhpStorm 2016.2</a> &mdash; The new EAP begins with new features, bug fixes and improvements for PHP and the Web, and latest improvements from IntelliJ Platform.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/ruby/2016/06/2016_2_eap/">RubyMine 2016.2</a> &mdash; A preview of the next IDE update planned for this summer is now available. Staying focused on polishing key IDE features in this release, work continues on better code insight, new refactorings, and smoother gem management experience. Many new features from IntelliJ Platform are coming as well.
                    p <a style="color: #2197f1;" href="https://blog.jetbrains.com/teamcity/2016/05/teamcity-10-eap-2-is-out-today/">TeamCity 10</a> &mdash; The latest EAP build includes one of the most exciting features: the ability to programmatically create projects and build configurations using DSL based on the Kotlin language. Also included are improved VCS changes polling, and a refreshed UI.
            +spacer.container
            +container.footer('top')
                +col(3)
                    p Our mailing address:<br>Na hrebenech II 1718/10<br>Prague 4 147 00<br>                Czech Republic
                +col(6)
                    p You are receiving JetBrains Newsletter because you are an existing customer or have shown interest in receiving information about our products.
                +col(3)
                    <table class="social" style="border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
                    <tbody>
                    <tr align="left" valign="middle">
                    <td style="line-height: 1px;" width="35"><a style="display: block; margin: 0px 0px 0px 0px;" href="https://www.facebook.com/JetBrains/"><img style="display: block; margin: 0px 0px 0px 0px;" src="https://resources.jetbrains.com/assets/marketo/newsletter/main/newsletter_social_facebook.png" alt="" width="35"></a></td>
                    <td style="line-height: 1px;" width="35"><a style="display: block; margin: 0px 0px 0px 0px;" href="https://twitter.com/jetbrains/"><img style="display: block; margin: 0px 0px 0px 0px;" src="https://resources.jetbrains.com/assets/marketo/newsletter/main/newsletter_social_twitter.png" alt="" width="35"></a></td>
                    <td style="line-height: 1px;" width="35"><a style="display: block; margin: 0px 0px 0px 0px;" href="https://www.youtube.com/user/JetBrainsTV"><img style="display: block; margin: 0px 0px 0px 0px;" src="https://resources.jetbrains.com/assets/marketo/newsletter/main/newsletter_social_youtube.png" alt="" width="35"></a></td>
                    <td style="width: auto;"></td>
                    </tr>
                    </tbody>
                    </table>
                    <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 12px; line-height: 16px; margin: 8px 0px 0px 0px;">Copyright © 2016 JetBrains. All rights reserved.