mixin spacer()
    table.spacer(cellspacing="0" cellpadding="0")&attributes(attributes)
        tr
            td(height="20")
        tr
            td(height="2" style="background-color:#000;font-size:0;line-height:2px;")&nbsp;
        tr
            td(height="20")